*{
    font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
}

body{
    background-color: white;
}

.top-visak{
    padding-bottom: 70px;
}

.top-picture{
    background: url('../img/AboutUs_Ilustracija.png') no-repeat center center;
    background-attachment: local; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 600px;
}

.top-picture #slika{
    width: 100%;
    height: auto;
    display: none;
}

.image-slider{
    padding-top: 50px;
    padding-bottom: 100px;
}


.slider-text{
    padding-left: 10%;
    padding-right: 10%;
}

.bottom-text{
    padding-left: 10%;
    padding-right: 10%;
}

.carousel-inner{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

#myCarousel{
    position: relative;
    width: 1200px;
    height: 700px;
    margin: 0px;
    background: #1D212B;
    margin: auto;
    display: block;
    padding: 0px;
    border-radius: 5px;
    box-shadow: rgb(1, 13, 29) 0px 6px 22px, rgba(1, 13, 29, 0.23) 0px 5px 5px;
    margin-bottom: 70px;
}

#myCarousel .slide0{
    background: url('../img/slajder11.jpg') no-repeat;
    background-attachment: local; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 1200px;
    height: 700px;
}

#myCarousel .slide1{
    background: url('../img/slajder12.jpg') no-repeat;
    background-attachment: local; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 1200px;
    height: 700px;
}

#myCarousel .slide2{
    background: url('../img/slajder13.jpg') no-repeat;
    background-attachment: local; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 1200px;
    height: 700px;
}

#myCarousel .slide3{
    background: url('../img/slajder14.jpg') no-repeat;
    background-attachment: local; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 1200px;
    height: 700px;
}

#myCarousel .slide4{
    background: url('../img/slajder15.jpg') no-repeat;
    background-attachment: local; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 1200px;
    height: 700px;
}

#myCarousel .slide5{
    background: url('../img/slajder16.jpg') no-repeat;
    background-attachment: local; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 1200px;
    height: 700px;
}

#myCarousel .slide6{
    background: url('../img/slajder17.jpg') no-repeat;
    background-attachment: local; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 1200px;
    height: 700px;
}

.carousel-item{
    width: 100%;
    height:100%;
    border-radius: 5px;
}


#myCarousel1{
    position: relative;
    width: 600px;
    height: 600px;
    margin: 0px;
    background: #1D212B;
    margin: auto;
    display: block;
    padding: 0px;
    border-radius: 5px;
    box-shadow: rgb(1, 13, 29) 0px 6px 22px, rgba(1, 13, 29, 0.23) 0px 5px 5px;
}

#myCarousel1 .slide0{
    background: url('../img/slajder21.jpg') no-repeat;
    background-attachment: local; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 600px;
    height: 600px;
}

#myCarousel1 .slide1{
    background: url('../img/slajder22.jpg') no-repeat;
    background-attachment: local; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#myCarousel1 .slide2{
    background: url('../img/slajder23.jpg') no-repeat;
    background-attachment: local; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#myCarousel1 .slide3{
    background: url('../img/slajder24.jpg') no-repeat;
    background-attachment: local; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}


.image-slider .slider-heading{
    color: black;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 0px;
}

.slider-text{
    text-align: center;
    font-size: 32px;
    color: black;
    padding-bottom: 30px;
}

.bottom-text{
    text-align: center;
    font-size: 32px;
    color: black;
    padding-bottom: 30px;
}

.image-slider .bottom-text{
    padding-top: 30px;
}

.image-slider a{
    text-decoration: none;
    margin: auto;
    display: block;
    width: 220px;
    height: 56px;
    font-size: 20px;
}

.image-slider a:hover{
    color:unset
}

.button-83 {
    appearance: button;
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgb(26, 96, 177), #0b3366);
    border: 0 solid #e5e7eb;
    border-radius: .5rem;
    box-sizing: border-box;
    color:white;
    font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
    column-gap: 1rem;
    cursor: pointer;
    display: flex;
    font-size: 90%;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    outline: 2px solid transparent;
    padding: 1rem 1.4rem;
    text-align: center;
    text-transform: none;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: -6px 8px 10px rgba(81,41,10,0.1),0px 2px 2px rgba(81,41,10,0.2);
    margin-top: 50px;
    padding-top: 1.2rem;
  }

  .button-83:active {
    background-color: #f3f4f6;
    box-shadow: -1px 2px 5px rgba(81,41,10,0.15),0px 1px 1px rgba(81,41,10,0.15);
    transform: translateY(0.125rem);
}

.button-83:focus {
  box-shadow: rgba(72, 35, 7, .46) 0 0 0 4px, -6px 8px 10px rgba(81,41,10,0.1), 0px 2px 2px rgba(81,41,10,0.2);
}

.image-slider .cbtn{
    text-align: center;
}

.middle-text{
    padding-left: 10%;
    padding-right: 10%;
    font-size: 26px;
    line-height: 32px;
    padding-bottom: 30px;
}

.bottom-text{
    margin-top: 30px;
}


@media screen and (max-width:1400px)
and (min-width:1100px){
    
    .top-picture{
        background: url('../img/1100_1400ilustracija.png') no-repeat center center;
        background-attachment: local; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        height: 450px;
    }

    .slider-text{
        font-size: 30px;
    }

    .middle-text{
        font-size: 23px;
        line-height: 29px;
    }
    
    .bottom-text{
        font-size: 30px;
    }

    #myCarousel{
        width: 800px;
        height: 465px;
    }

    #myCarousel .slide0, #myCarousel .slide1, #myCarousel .slide2, #myCarousel .slide3, #myCarousel .slide4, #myCarousel .slide5, #myCarousel .slide6 {
        width: 800px;
        height: 465px;
    }
    
    #myCarousel1{
        width: 500px;
        height: 500px;
    }
    #myCarousel1 .slide0, #myCarousel1 .slide1, #myCarousel1 .slide2, #myCarousel1 .slide3{
        width: 500px;
        height: 500px;
    }
}

@media screen and (max-width:1099px)
and (min-width:800px){
    
    .top-picture{
        background: url('../img/800_1100ilustracija.png') no-repeat center center;
        background-attachment: local; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        height: 350px;
    }


    .slider-text{
        font-size: 28px;
    }

    .middle-text{
        font-size: 20px;
        line-height: 27px;
    }
    
    .bottom-text{
        font-size: 28px;
    }

    #myCarousel{
        width: 600px;
        height: 350px;
    }

    #myCarousel .slide0, #myCarousel .slide1, #myCarousel .slide2, #myCarousel .slide3, #myCarousel .slide4, #myCarousel .slide5, #myCarousel .slide6 {
        width: 600px;
        height: 350px;
    }
    
    #myCarousel1{
        width: 400px;
        height: 400px;
    }

    #myCarousel1 .slide0, #myCarousel1 .slide1, #myCarousel1 .slide2, #myCarousel1 .slide3{
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 858px){
    .top-visak{
        padding-bottom: 50px;
    }
}
@media (max-width: 900px)
and (max-height: 500px)
and (orientation: landscape){
    .top-picture{
        background: unset;
        background-attachment: local; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        height: auto;
    }
    
    .image-slider{
        padding-top: 0px;
    }

    .top-picture #slika{
        display: unset;
    }

    .slider-text .slider-heading{
        font-size: 40px;
    }

    .slider-text{
        font-size: 24px;
    }

    .middle-text{
        font-size: 17px;
        line-height: 24px;
    }
    
    .bottom-text{
        font-size: 24px;
    }

    #myCarousel{
        width: 400px;
        height: 175px;
    }

    #myCarousel .slide0, #myCarousel .slide1, #myCarousel .slide2, #myCarousel .slide3, #myCarousel .slide4, #myCarousel .slide5, #myCarousel .slide6 {
        width: 400px;
        height: 175px;
    }
    
    #myCarousel1{
        width: 250px;
        height: 250px;
    }

    #myCarousel1 .slide0, #myCarousel1 .slide1, #myCarousel1 .slide2, #myCarousel1 .slide3{
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 799px)
and (orientation: portrait){
    .top-picture{
        background: url('../img/AboutUs_Ilustracija.png') no-repeat center center;
        background-attachment: local; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        height: auto;
    }

    .top-visak{
        padding-bottom: 50px;
    }
    
    .top-picture #slika{
        display: unset;
    }

    .image-slider .slider-heading{
        font-size: 60px;
    }

    .slider-text{
        font-size: 24px;
    }

    .middle-text{
        font-size: 17px;
        line-height: 24px;
        text-align: center;
    }
    
    .bottom-text{
        font-size: 24px;
    }

    #myCarousel{
        width: 300px;
        height: 175px;
    }

    #myCarousel .slide0, #myCarousel .slide1, #myCarousel .slide2, #myCarousel .slide3, #myCarousel .slide4, #myCarousel .slide5, #myCarousel .slide6 {
        width: 300px;
        height: 175px;
    }
    
    #myCarousel1{
        width: 250px;
        height: 250px;
    }

    #myCarousel1 .slide0, #myCarousel1 .slide1, #myCarousel1 .slide2, #myCarousel1 .slide3{
        width: 250px;
        height: 250px;
    }
}