.upper-img{
	width: 100%;
	height: auto;
}

.contact-text{
	padding-left: 20%;
}

.contact-text .heading{
	font-size: 40px;
}

.contact-text .text{
	font-size: 30px;
}

.contact-text ul{
	font-size: 25px;
}

.contact-text ul li{
	font-size: 20px;
}


