#myCarousel{
    position: relative;
    width: 1500px;
    height: 800px;
    margin: 0px;
    background: #1D212B;
    margin: auto;
    display: block;
    padding: 0px;
    box-shadow: rgb(1, 13, 29) 0px 8px 25px, rgba(1, 13, 29, 0.23) 0px 6px 6px;
    font-family: 'Alatsi', sans-serif;
    border-radius: 5px;
}

.carousel-caption ul ul{
    list-style: disc;
}

.carousel-control-prev{
    padding-right: 30px;
    width: 7%;
}

.carousel-control-next{
    padding-left: 30px;
    width: 7%;
}

.carousel-control-prev-icon{
    width: 4rem;
    height: 4rem;
}

.carousel-control-next-icon{
    width: 4rem;
    height: 4rem;
}

.carousel-inner{
    height: 100%;
    width: 100%;
}

.carousel-item{
    width: 1500px;
    height: 800px;
}

.container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 1500px;
    max-height: 800px;
}

.carousel-caption{
    left: unset;
    left: 70px;
    bottom: unset;
    top: 220px;
    text-shadow: 2px 2px 2px black;
    width: 450px;
}

.carousel-caption .slider-text{
    font-size: 20px;
}

.carousel-caption .buttons{
    padding-top: 100px;
    width: 250px;
}

.slide0{
    background: url('../img/Mare_Sajt.png') no-repeat;
    background-attachment: local; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.slide0 .buttons{
    margin-left: 15px;
}
.slide1{
    background: url('../img/Mare_Sajt2.png') no-repeat;
    background-attachment: local; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.slide1 .buttons{
    margin-left: 25px;
}

.slide2{
    background: url('../img/Mare_Sajt2.png') no-repeat;
    background-attachment: local; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.slide2 .buttons{
    width: 200px;
    margin-left: 23px;
}

.slide2 .buttons .row-1{
    padding-left: 0;
}

.slide3{
    background: url('../img/Mare_Sajt2.png') no-repeat;
    background-attachment: local; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.slide3 .buttons{
    margin-left: 25px;
}

.slide4{
    background: url('../img/Mare_Sajt2.png') no-repeat;
    background-attachment: local; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.slide4 .buttons{
    margin-left: 25px;
}

.slide5 .carousel-caption {
    left: unset;
    left: 70px;
    bottom: unset;
    top: 220px;
    text-shadow: 2px 2px 2px black;
    width: 500px;
}

.slide5{
    background: url('../img/Mare_Sajt2.png') no-repeat;
    background-attachment: local; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.slide5 .buttons{
    padding-top: 0px;
    margin-left: 13px;
}

.slide6{
    background: url('../img/Mare_Sajt2.png') no-repeat;
    background-attachment: local; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.slide7{
    background: url('../img/Mare_Sajt2.png') no-repeat;
    background-attachment: local; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.slide7 .buttons{
    margin-left: 13px;
}