
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.img-slider{
  position: relative;
  width: 1500px;
  height: 800px;
  margin: 0px;
  background: #1D212B;
  margin: auto;
  display: block;
}

.img-slider .slide{
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: inset(0 0 0 100% round 0% 0% 0% 0%);
}

.img-slider .slide.active{
  clip-path: inset(0 0 0 0% round 0% 0% 0% 0%);
  transition: .2s;
  transition-property: clip-path;
}

.img-slider .slide img{
  z-index: 1;
  width: 100%;
  border-radius: 5px;
}

.img-slider .slide1{
  background: url('../img/Mare_Sajt.png') no-repeat;
  background-attachment: local; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.img-slider .slide2{
  background: url('../img/Mare_Sajt.png') no-repeat;
  background-attachment: local; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.img-slider .slide3{
  background: url('../img/Mare_Sajt.png') no-repeat;
  background-attachment: local; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.img-slider .slide4{
  background: url('../img/Mare_Sajt.png') no-repeat;
  background-attachment: local; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.img-slider .slide5{
  background: url('../img/Mare_Sajt.png') no-repeat;
  background-attachment: local; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.img-slider .slide6{
  background: url('../img/Mare_Sajt.png') no-repeat;
  background-attachment: local; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.img-slider .slide7{
  background: url('../img/Mare_Sajt.png') no-repeat;
  background-attachment: local; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.img-slider .slide .info{
  position: absolute;
  top: 0;
  padding: 15px 30px;
  font-size: 20px;
  margin-top: 240px;
  text-shadow: 2px 2px 5px black;
}

.img-slider .slide .info .buttons{
  position: absolute;
  top: 400px;
}

.slide .info ul li{
  list-style: disc;
  color: white;
  margin-left: 27px;
}

.slide .info ul .inner{
  margin-left: 20px;
}

.img-slider .slide .info p{
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
}

.img-slider .navigation{
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn{
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active{
  background: #2696E9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    .img-slider{
      width: 1100px;
      height: 600px;
    }

    .img-slider .slide .info{
      padding: 15px 30px;
      font-size: 18px;
      margin-top: 150px;
      line-height: 25px;
    }

    .img-slider .slide .info .buttons{
      top: 320px;
    }
}


@media (max-width: 820px){
  .img-slider{
    width: 600px;
    height: 375px;
  }

  .img-slider .slide .info{
    padding: 10px 25px;
  }

  .img-slider .slide .info p{
    width: 70%;
    font-size: 15px;
  }

  .img-slider .navigation{
    bottom: 25px;
  }

  .img-slider .navigation .btn{
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 500px){
  .img-slider{
    width: 300px;
    height: 500px;
  }

  .img-slider .slide .info{
    padding: 10px 10px;
  }

  .img-slider .slide .info p{
    width: 80%;
    font-size: 13px;
  }

  .img-slider .navigation{
    bottom: 15px;
  }

  .img-slider .navigation .btn{
    width: 8px;
    height: 8px;
    margin: 6px;
  }

  .img-slider .slide .info{
    position: absolute;
    top: 0;
    margin-top: 285px;
  }

  .img-slider .navigation .btn{
    margin-bottom: 0;
  }

}

      