
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.img-slider{
  position: relative;
  width: 1500px;
  height: 800px;
  margin: 0px;
  background: #1D212B;
  margin: auto;
  display: block;
  padding: 0px;
  box-shadow: rgb(1, 13, 29) 0px 8px 25px, rgba(1, 13, 29, 0.23) 0px 6px 6px;
  border-radius: 5px;
  letter-spacing: 1px;
}

.img-slider .slide{
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: polygon(0% 0%, 0 0, 0 50%, 0 100%, 0% 100%);
  border-radius: 5px;
}

.img-slider .slide.active{
  border-radius: 5px;
  clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0 100%);
  transition: 2.5s;
  transition-property: clip-path;
}

.img-slider .slide img{
  z-index: 1;
  width: 100%;
  border-radius: 5px;
}

.img-slider .slide .info .info-text{
  width: 500px;
}

.img-slider .slide0{
  background: url('../img/Mare_Sajt.png') no-repeat;
  background-attachment: local; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.img-slider .slide1{
  background: url('../img/Mare_Sajt2.png') no-repeat;
  background-attachment: local; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.img-slider .slide2{
  background: url('../img/Mare_Sajt2.png') no-repeat;
  background-attachment: local; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.img-slider .slide3{
  background: url('../img/Mare_Sajt.png') no-repeat;
  background-attachment: local; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.img-slider .slide4{
  background: url('../img/Mare_Sajt.png') no-repeat;
  background-attachment: local; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.img-slider .slide5{
  background: url('../img/Mare_Sajt.png') no-repeat;
  background-attachment: local; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.img-slider .slide6{
  background: url('../img/Mare_Sajt.png') no-repeat;
  background-attachment: local; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.img-slider .slide7{
  background: url('../img/Mare_Sajt.png') no-repeat;
  background-attachment: local; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.img-slider .slide .info{
  position: absolute;
  top: 0;
  padding: 40px 30px;
  font-size: 20px;
  margin-top: 240px;
  text-shadow: 2px 2px 2px black;
}

.img-slider .slide .info .buttons{
  position: absolute;
  top: 400px;
}

.slide .info ul li{
  list-style: disc;
  color: white;
  margin-left: 27px;
}

.slide .info ul .inner{
  margin-left: 20px;
}

.img-slider .slide .info p{
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
}

.img-slider .navigation{
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn{
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active{
  background: #2696E9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media screen 
  and (min-device-width: 1100px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    .img-slider{
      width: 1100px;
      height: 600px;
    }

    .img-slider .slide .info{
      padding: 15px 30px;
      font-size: 18px;
      margin-top: 150px;
      line-height: 25px;
    }

    .img-slider .slide .info .buttons{
      top: 320px;
    }
}
@media screen and (max-width:1099px)
and (min-width:800px){
  .img-slider{
    width: 800px;
    height: 435px;
  }

  .img-slider .slide .info{
    padding: 10px 25px;
    margin-top: 120px;
    font-size: 15px;
  }
  
  .img-slider .navigation{
    bottom: 40px;
  }

  .img-slider .navigation .btn{
    width: 10px;
    height: 10px;
    margin: 8px;
  }

  .img-slider .slide .info .info-text{
    width: 350px;
  }

  .img-slider .slide .info .buttons{
    top: 200px;
  }

  .info .info-text .visak{
    display: none;
  }
}


@media (max-width: 799px){
  .img-slider{
    width: 300px;
    height: 550px;
  }

  .img-slider .slide .info .info-text{
    width: 280px;
  }

  .img-slider .slide .info{
    padding: 10px 10px;
  }

  .img-slider .slide .info p{
    width: 80%;
    font-size: 13px;
  }

  .img-slider .navigation{
    bottom: 15px;
  }

  .img-slider .navigation .btn{
    width: 8px;
    height: 8px;
    margin: 6px;
  }

  .img-slider .slide .info{
    position: absolute;
    top: 0;
    margin-top: 280px;
  }

  .img-slider .navigation .btn{
    margin-bottom: 0;
  }

  .img-slider .slide .info .buttons{
    top: 170px;
  }
  
  .info .info-text .visak{
    display: none;
  }
}

      