body{
    background: rgba(18,82,153,1);
    font-family: 'Alatsi', sans-serif;
    letter-spacing: 1px;
}

.naslov{
    color: white;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    text-shadow: rgb(1, 13, 29) 0px 3px 10px;
}

.motto{
    text-align: center;
    font-size: 28px;
    color: white;
    padding-bottom: 30px;
    text-shadow: rgb(1, 13, 29) 0px 3px 5px;
}


.video-wrapper {
    max-width: 100%;
    min-width: 320px;
    height: auto;
    position: relative;
    margin: auto;
    display: block;
    z-index: -2;
}

.video-wrapper video {
    height: auto;
    vertical-align: middle;
    width: 100%;
    z-index: -2;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.buttons .row-2{
    padding-left: 7px;
}

.buttons .row-1 .acko{
    margin-top: -3px;
}
.buttons .row-1{
    padding-left: 10px;
}

.buttons .row-1 .btnspec{
    margin-left: 10px;
}

.buttons button {
    width: 170px;
    padding: 0;
    border: none;
    background: none;
    -webkit-tap-highlight-color: transparent;
}

.buttons span{
    color: white;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
}

.buttons img{
    width:  100%;
    height:  auto;
}

.buttons .googleplay{
    content: url('../img/Google.png');
}

.buttons .playstore{
    content: url('../img/App.png');
}

.buttons .ytbtn{
    width: 100px;
}

.buttons .youtube{
    content: url('../img/YT.png');
}


.buttons .p{
    text-align: unset;
}

.slider-section{
    padding-top: 20px;
    background: url('../img/Bg.png') center top;
    background-attachment: local; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
}
.aboutus{
    background: url('../img/About_Us.png') no-repeat;
    background-attachment: local; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 700px;

}

.aboutus #about-us-heading{
    font-size: 40px;
    background: -webkit-linear-gradient(left,#eee 60%, rgb(105, 182, 233) 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 60%;
    padding-top: 40px;
    font-weight: bold;
}

.aboutus #atext{
    width: 30%;
    text-align: center;
    color: white;
    margin-left: 50%;
    margin-top:50px;
}

.aboutus button{
    margin-left: 62%;
    margin-top: 100px;
    width: 150px;
    height: 75px;
}

/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #2f7acf 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(23, 31, 59, 0.3) 0 7px 13px -3px,rgba(23, 31, 59, 0.3);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.aboutus .dugme{
    font-size: 30px;
    font-family: 'Alatsi', sans-serif;
    color: white;
    text-shadow: rgba(0, 0, 0) 0px -2px 2px;
}

.careers{
    background: url('../img/Careers.png') no-repeat  ;
    background-attachment: local; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 700px;
}

.careers #careers-heading{
    font-size: 40px;
    background: -webkit-linear-gradient(left,rgb(226, 133, 70) 10%, rgb(221, 219, 217) 15%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 10%;
    padding-top: 40px;
    font-weight: bold;
}

.careers #ctext{
    color:white;
    width: 30%;
    text-align: center;
    margin-top:50px;
}

.careers button{
    margin-top: 100px;
    margin-left: 11%;
    width: 150px;
    height: 75px;
}


@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

}

@media screen and (max-width:500px){

    .naslov{
        padding-bottom: 10px;
        font-size: 40px;
    }

    .buttons .row-2{
        padding-left: unset;
        margin-left: 45px;
    }
    
    .buttons .row-1 .btnspec{
        margin-left: unset;
    }

    .buttons .row-1 .acko{
        margin-top: -3px;
    }
    .buttons .row-1{
        padding-left: unset;
    }
    .buttons .row-2-spec{
        margin-left: 70px;
    }
    
    .buttons button {
        width: 90px;
        padding: 0;
        border: none;
        background: none;
    }

    .buttons .solorow{
        margin-left: 115px;
        padding-left: unset;
    }

    .buttons .ytbtn{
        width: 50px;
    }
    
    .buttons span{
        color: white;
        display: inline-block;
        font-size: 10px;
        line-height: 10px;
    }

    .img-slider .slide1{
        background: url('../img/900x1650.png') no-repeat;
        background-attachment: local; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .img-slider .slide1 .info li{
        font-size: 12px;
    }

    .img-slider .slide2{
        background: url('../img/900x1650.png') no-repeat;
        background-attachment: local; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .img-slider .slide2 .info li{
        font-size: 12px;
    }

    .img-slider .slide3{
        background: url('../img/900x1650.png') no-repeat;
        background-attachment: local; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .img-slider .slide3 .info li{
        font-size: 12px;
    }

    .img-slider .slide4{
        background: url('../img/900x1650.png') no-repeat;
        background-attachment: local; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .img-slider .slide4 .info li{
        font-size: 12px;
    }

    .img-slider .slide5{
        background: url('../img/900x1650.png') no-repeat;
        background-attachment: local; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .img-slider .slide5 .info li{
        font-size: 12px;
    }

    .img-slider .slide6{
        background: url('../img/900x1650.png') no-repeat;
        background-attachment: local; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .img-slider .slide6 .info li{
        font-size: 12px;
    }

    .img-slider .slide7{
        background: url('../img/900x1650.png') no-repeat;
        background-attachment: local; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .img-slider .slide7 .info li{
        font-size: 12px;
    }
}
