body{
    background: rgb(115,30,74);
    background: linear-gradient(180deg, rgba(115,30,74,1) 0%, rgba(24,20,34,1) 100%);
    font-family: 'Alatsi', sans-serif;
    letter-spacing: 1px;
}

.naslov{
    color: white;
    text-align: center;
    padding-bottom: 30px;
    font-size: 80px;
    font-weight: bold;
}

.video-wrapper {
    max-width: 100%;
    min-width: 320px;
    height: auto;
    position: relative;
    margin: auto;
    display: block;
    padding-bottom: 30px;
    z-index: -2;
}

.video-wrapper video {
    height: auto;
    vertical-align: middle;
    width: 100%;
    z-index: -2;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.buttons .row-2{
    padding-left: 7px;
}

.buttons .row-1 .acko{
    margin-top: -3px;
}
.buttons .row-1{
    padding-left: 10px;
}

.buttons .row-1 .btnspec{
    margin-left: 10px;
}

.buttons button {
    width: 170px;
    padding: 0;
    border: none;
    background: none;
}

.buttons span{
    color: white;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
}

.buttons img{
    width:  100%;
    height:  auto;
}

.buttons .googleplay{
    content: url('../img/Google.png');
}

.buttons .playstore{
    content: url('../img/App.png');
}

.buttons .ytbtn{
    width: 100px;
}

.buttons .youtube{
    content: url('../img/YT.png');
}


.buttons .p{
    text-align: unset;
}
.aboutus{
    margin-top: 50px;
    background: url('../img/About_Us.png') no-repeat;
    background-attachment: local; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 700px;

}

.aboutus #about-us-heading{
    font-size: 40px;
    background: -webkit-linear-gradient(left,#eee 60%, rgb(105, 182, 233) 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 60%;
    padding-top: 40px;
    font-weight: bold;
}

.aboutus #atext{
    width: 30%;
    text-align: center;
    color: white;
    margin-left: 50%;
    margin-top:50px;
}

.aboutus button{
    margin-left: 62%;
    margin-top: 100px;
    width: 150px;
    height: 75px;
}
.careers{
    background: url('../img/Careers.png') no-repeat  ;
    background-attachment: local; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 700px;
}

.careers #careers-heading{
    font-size: 40px;
    background: -webkit-linear-gradient(left,rgb(226, 133, 70) 10%, rgb(221, 219, 217) 15%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 10%;
    padding-top: 40px;
    font-weight: bold;
}

.careers #ctext{
    color:white;
    width: 30%;
    text-align: center;
    margin-top:50px;
}

.careers button{
    margin-top: 100px;
    margin-left: 11%;
    width: 150px;
    height: 75px;
}


@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

}

@media screen and (max-width:500px){

    .naslov{
        padding-bottom: 10px;
        font-size: 40px;
    }

    .buttons .row-2{
        padding-left: unset;
        margin-left: 45px;
    }
    
    .buttons .row-1 .btnspec{
        margin-left: unset;
    }

    .buttons .row-1 .acko{
        margin-top: -3px;
    }
    .buttons .row-1{
        padding-left: unset;
    }
    .buttons .row-2-spec{
        margin-left: 70px;
    }
    
    .buttons button {
        width: 90px;
        padding: 0;
        border: none;
        background: none;
    }

    .buttons .solorow{
        margin-left: 115px;
        padding-left: unset;
    }

    .buttons .ytbtn{
        width: 50px;
    }
    
    .buttons span{
        color: white;
        display: inline-block;
        font-size: 10px;
        line-height: 10px;
    }

    .img-slider .slide1{
        background: url('../img/900x1650.png') no-repeat;
        background-attachment: local; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .img-slider .slide1 .info li{
        font-size: 12px;
    }

    .img-slider .slide2{
        background: url('../img/900x1650.png') no-repeat;
        background-attachment: local; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .img-slider .slide2 .info li{
        font-size: 12px;
    }

    .img-slider .slide3{
        background: url('../img/900x1650.png') no-repeat;
        background-attachment: local; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .img-slider .slide3 .info li{
        font-size: 12px;
    }

    .img-slider .slide4{
        background: url('../img/900x1650.png') no-repeat;
        background-attachment: local; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .img-slider .slide4 .info li{
        font-size: 12px;
    }

    .img-slider .slide5{
        background: url('../img/900x1650.png') no-repeat;
        background-attachment: local; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .img-slider .slide5 .info li{
        font-size: 12px;
    }

    .img-slider .slide6{
        background: url('../img/900x1650.png') no-repeat;
        background-attachment: local; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .img-slider .slide6 .info li{
        font-size: 12px;
    }

    .img-slider .slide7{
        background: url('../img/900x1650.png') no-repeat;
        background-attachment: local; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .img-slider .slide7 .info li{
        font-size: 12px;
    }
}
